<div class="text-center branded-footer-links">
    <div>
        <span>{{model.name}}:</span>
    </div>

    {{safe-markup model.footerLinks}}

</div>


{{osf-copyright class='text-center'}}

<div class="text-center permission-footer-language ">
    <span>{{t (concat "components.permission-language." theme.permissionLanguage) provider=model.name}}</span>
</div>
